
 
<html ⚡ lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="shortcut icon" href="https://cdn.glitch.com/0264b8ff-6d27-4539-a1fe-b8fc7dc5214f%2Ffavicon.ico?1511537492331">
    <link rel="manifest" href="/manifest.json">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-install-serviceworker" src="https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js"></script>  
    <amp-install-serviceworker src="sw.js"     
    layout="nodisplay">
    </amp-install-serviceworker>
  
    <title>News Article</title>
    </head>
    
  <body>
         
    <header>
     Papyrus
    </header>
     
 <h1>Welcome to the ai Papyrus Please  <a href="/login">log in</h1>
 <p>Hello, View your <a href="/profile">profile</a>.</p>
    