
 <!doctype html>

  <head>
    <meta charset="utf-8" />
    
    <link rel="shortcut icon" href="https://cdn.glitch.com/0264b8ff-6d27-4539-a1fe-b8fc7dc5214f%2Ffavicon.ico?1511537492331">
    <link rel="manifest" href="/manifest.json">
    
    
   
  <head>
    <title>Sustainable===== Development - ICT</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css" type="text/css">
  </head>
  
  <body>
  
	<!-- Responsive NavBar Section -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light"  dir="rtl">
		  <a class="navbar-brand" href="#">التنمية المستدامة</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			  <li class="nav-item active">
				<a class="nav-link" href="#">المحافظة على الموارد <span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">تطوير الزراعة</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">توفير المياه</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">أستخدام الطاقة</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">إعادة التدوير</a>
			  </li>
				<li class="nav-item">
				<a class="nav-link" href="#">من نحن ؟</a>
			  </li>
			</ul>

		  </div>
	</nav>

	<!-- Content Section -->
	
	<div class="container text-right">
		<div class="first-section">
			<h1 class="text-center" style="margin-top:50px;">! التنمية المستدامة</h1>
			<img class="img-fluid img-thumbnail rounded mx-auto d-block" src="https://cdn.glitch.com/bff8d421-515b-4f42-b9fb-e1c89f580b5d%2Fsus.jpg?1512340355803" alt="sustainable development" width="600px" height="600px" style="margin-top:50px;">
			<p style="margin-top:50px;;">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع.
ومن هنا وجب على المصمم أن يضع نصوصا مؤقتة على التصميم ليظهر للعميل الشكل كاملاً،دور مولد النص العربى أن يوفر على المصمم عناء البحث عن نص بديل لا علاقة له بالموضوع الذى يتحدث عنه التصميم فيظهر بشكل لا يليق.
هذا النص يمكن أن يتم تركيبه على أي تصميم دون مشكلة فلن يبدو وكأنه نص منسوخ، غير منظم، غير منسق، أو حتى غير مفهوم. لأنه مازال نصاً بديلاً ومؤقتاً.</p>
		</div>
		
	</div>
	
	<div class="container text-right">
		<div class="second-section">
			<img class="rounded float-right" src="https://cdn.glitch.com/bff8d421-515b-4f42-b9fb-e1c89f580b5d%2F350x150.png?1512340961187" alt="water">
			<div class="info">
				<h2 align="right" >المياه</h2>
				<p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية..... <a href="#" target="_blank"> إقرأ المزيد</a></p>
			</div>
		</div>
	</div>
	
	<div class="container text-right">
		<div class="third-section">
			<img class="rounded float-left" src="https://cdn.glitch.com/bff8d421-515b-4f42-b9fb-e1c89f580b5d%2F350x150.png?1512340961187" alt="water">
			<div class="info">
				<h2 align="right" >الطاقة</h2>
				<p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية..... <a href="#" target="_blank"> إقرأ المزيد</a></p>
			</div>
		</div>
	</div>
	
	<div class="container text-right">
		<div class="fourth-section">
			<img class="rounded float-right" src="https://cdn.glitch.com/bff8d421-515b-4f42-b9fb-e1c89f580b5d%2F350x150.png?1512340961187" alt="water">
			<div class="info">
				<h2 align="right" >تطوير الزراعة</h2>
				<p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية..... <a href="#" target="_blank"> إقرأ المزيد</a></p>
			</div>
		</div>
	</div>
	
	<div class="container text-right">
		<div class="fifth-section">
			<img class="rounded float-left" src="https://cdn.glitch.com/bff8d421-515b-4f42-b9fb-e1c89f580b5d%2F350x150.png?1512340961187" alt="water">
			<div class="info">
				<h2 align="right" >تدوير المخلفات</h2>
				<p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية..... <a href="#" target="_blank"> إقرأ المزيد</a></p>
			</div>
		</div>
	</div>
	
	<div class="container text-right">
		<div class="six-section">
			<img class="rounded float-right" src="https://cdn.glitch.com/bff8d421-515b-4f42-b9fb-e1c89f580b5d%2F350x150.png?1512340961187" alt="water">
			<div class="info">
				<h2 align="right" >المحافظة على الموارد</h2>
				<p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية..... <a href="#" target="_blank"> إقرأ المزيد</a></p>
			</div>
		</div>
	</div>
	
	<footer class="footer">
      <div class="container text-center">
        <span class="text-muted">Developed by <a href="#">Mohamed Saied</a> & <a href="#">Ahmed Alaa</a></span>
      </div>
    </footer>
	




	
	

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  
  </body>
  
  
</html>

  
  
  <script src="app.js" ></script>
  